form{
    text-align: center;
}

input{
    display: block;
    margin: 1rem auto;
    width: 25rem;
}

li div p{
 margin: 0rem 5rem;
}

li div button{
    margin-left: 20rem;
}

#addBtn{
    margin-left: 22rem;
}