footer{
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    padding: 2rem;
    margin: 0.5rem 1rem;
    color: var(--white);
}